@keyframes showItems {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  position: relative;
  background-color: #eee;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  min-height: 200vh;
}

.offset {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
  width: 30vw;
  z-index: 1001;
  opacity: 1;
}

.hide {
  animation: hide 1.4s linear forwards;
}

.show {
  animation: show 1.4s linear forwards;
}

.burger-btn {
  position: fixed;
  right: 15px;
  padding: 1em;
  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;
  z-index: 1001;
}
.burger-btn:focus {
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}
.burger-btn:hover .burger-btn__bars::after,
.burger-btn:hover .burger-btn__bars::before {
  width: 100%;
}
.burger-btn__box {
  position: relative;
  width: 40px;
  height: 30px;
}
.burger-btn__bars, .burger-btn__bars::after, .burger-btn__bars::before {
  position: absolute;
  right: 0;
  height: 5px;
  content: "";
  background-color: #264f0b;
  transition: width 0.5s;
}
.burger-btn__bars {
  width: 100%;
}
.burger-btn__bars::after {
  top: 13px;
  width: 60%;
}
.burger-btn__bars::before {
  top: 27px;
  width: 30%;
  transition-delay: 0.1s;
}

.nav {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  width: 100%;
  padding: 0;
  background-color: #fff;
  box-shadow: 0px 1px 30px #000;
  z-index: 1000;
}
.nav .solo-logo-item-1 {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(0%, -50%);
  margin-top: 2px;
  padding: 5px 15px;
}
.nav .mobile-nav {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  transform: translateX(100%);
  transition: 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  height: 100vh;
  width: 100%;
  background-color: #fff;
  z-index: 100;
}
.nav .mobile-nav--active {
  transform: translateX(30%);
}
.nav .mobile-nav .nav__items {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  height: 60vh;
}
.nav .mobile-nav .nav__items a {
  padding: 30px;
  font-weight: bold;
  font-size: 2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #264f0b;
  outline: none;
  transition: color 0.5s;
}
.nav .mobile-nav .nav__items a:hover {
  scale: 1.1;
}
.nav .mobile-nav .nav__items a:focus {
  transform: scale(1.1);
}
.nav .pc-nav {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.nav .pc-nav .wrapper {
  display: flex;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.nav .pc-nav__item {
  width: 100%;
  height: 100%;
  line-height: 120px;
  text-align: center;
  font-size: 1.6em;
  text-transform: uppercase;
  text-decoration: none;
  color: #264f0b;
  font-weight: bold;
  outline: none;
  transition: scale 0.5s, color 0.5s;
}
.nav .pc-nav__item .dropdown {
  position: absolute;
  width: 100%;
  top: 115px;
  opacity: 0;
  display: none;
  left: 0;
}
.nav .pc-nav__item .dropdown__list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}
.nav .pc-nav__item .dropdown__list-item {
  width: 100%;
  height: 100px;
  color: #264f0b;
  line-height: 100px;
  background-color: #fff;
  text-align: center;
  font-size: 2.6rem;
  border-bottom: 1px solid #000;
  font-weight: bold;
}
.nav .pc-nav__item:hover .dropdown {
  display: block;
  animation: showItems 0.5s linear forwards;
}
.nav .pc-nav__item--animation::after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  margin: 0 auto;
  bottom: 30px;
  height: 2px;
  transform: scaleX(0);
  transition: transform 0.3s;
  background-color: #447224;
}
.nav .pc-nav__item--animation:hover::after {
  transform: scaleX(0.5);
}
.nav .pc-nav__item--dropdown {
  position: relative;
  display: block;
}
.nav .pc-nav__item--dropdown:hover .dropdown {
  display: block;
  animation: showItems 0.5s linear forwards;
}
.nav .pc-nav__item:focus {
  scale: 1.1;
}
.nav .pc-nav__item:hover {
  scale: 1.1;
  color: #447224;
}
.nav .pc-nav__logo-item {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  line-height: 30px;
}
.nav .pc-nav__logo-item a {
  outline: none;
  transition: scale 0.5s;
}
.nav .pc-nav__logo-item a:focus {
  scale: 1.1;
}

.header {
  width: 100%;
  height: calc(100vh - 100px);
}
.header__carousel {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.header__carousel-photo {
  width: 100%;
  height: 100%;
  background-image: url("../img/carousel-item1-big.jpg");
  background-size: cover;
  background-position: 0 0;
  background-repeat: no-repeat;
}
.header__carousel-box {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
}
.header__carousel-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
.header__carousel-text {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  padding: 0 1.4rem;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}
.header__carousel-text h1 {
  font-size: 2.5rem;
  margin-bottom: 1em;
}
.header__carousel-text p {
  font-size: 1.8rem;
  padding: 1em;
}

@media (max-width: 568px) {
  .nav .mobile-nav .nav__items a {
    font-size: 1.5em;
    margin: 2% 0;
  }
  .img-carousel-section {
    margin-top: 20px;
  }
}
@media (min-width: 768px) {
  .nav {
    height: 120px;
  }
  .header__carousel-text {
    color: #fff;
  }
  .header__carousel-text h1 {
    font-size: 4rem;
    margin-bottom: 20px;
  }
  .header__carousel-text p {
    font-size: 2.6rem;
  }
}
@media (max-width: 1200px) {
  .nav .pc-nav {
    display: none;
  }
}
@media (min-width: 1200px) {
  .nav .solo-logo-item-1 {
    display: none;
  }
  .nav .burger-btn {
    display: none;
  }
  .header__carousel-text {
    color: #fff;
  }
  .header__carousel-text h1 {
    font-size: 5rem;
    margin-bottom: 20px;
  }
  .header__carousel-text p {
    font-size: 3rem;
  }
}/*# sourceMappingURL=main.css.map */