@keyframes showItems {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes showShadow {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}
@keyframes hideShadow {
  from {
    opacity: 1;
    transform: translateX(0%);
  }
  to {
    opacity: 0;
    transform: translateX(-100%);
  }
}
@keyframes showCardsText {
  from {
    top: 150%;
  }
  to {
    top: 110%;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

.mobileMenuLock {
  overflow: hidden;
}

.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.hideShadow {
  animation: hideShadow 0.3s linear forwards;
}

.showShadow {
  animation: showShadow 0.3s linear forwards;
}

.hide {
  animation: hide 1.4s linear forwards;
}

.show {
  animation: show 1.4s linear forwards;
}

.showCardsText {
  animation: showCardsText 0.4s linear forwards;
}

.offset {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
  width: 30vw;
  z-index: 1001;
  transform: translateX(-100%);
  opacity: 0;
}

.section {
  padding: 5rem 0 7em 0;
}

.section-title {
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
  color: #264f0b;
}

body {
  position: relative;
  background-color: #F5F5F5;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
}

.nav {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  width: 100%;
  padding: 0;
  background-color: #fff;
  box-shadow: 0px 1px 30px #000;
  z-index: 1000;
}
.nav .burger-btn {
  position: absolute;
  right: 15px;
  padding: 1em;
  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;
  z-index: 1001;
}
.nav .burger-btn:focus {
  outline: none;
  border: 1px solid #264f0b;
  border-radius: 10px;
}
.nav .burger-btn__box {
  position: relative;
  width: 40px;
  height: 30px;
}
.nav .burger-btn__bars, .nav .burger-btn__bars::after, .nav .burger-btn__bars::before {
  position: absolute;
  right: 0;
  height: 4px;
  content: "";
  background-color: #264f0b;
}
.nav .burger-btn__bars {
  width: 100%;
}
.nav .burger-btn__bars::after {
  top: 13px;
  width: 100%;
}
.nav .burger-btn__bars::before {
  top: 27px;
  width: 100%;
}
.nav .solo-logo-item-1 {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(0%, -50%);
  margin-top: 2px;
  padding: 5px 15px;
}
.nav .mobile-nav {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  transform: translateX(100%);
  transition: 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  height: 100vh;
  width: 100%;
  background-color: #fff;
  z-index: 100;
}
.nav .mobile-nav--active {
  transform: translateX(30%);
}
.nav .mobile-nav .nav__items {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  height: 60vh;
  width: 100%;
}
.nav .mobile-nav .nav__items .mb-nav__item {
  margin-left: 30px;
  width: 100vw;
}
.nav .mobile-nav .nav__items .mb-nav__item-first {
  width: auto;
}
.nav .mobile-nav .nav__items .mb-nav__item a {
  padding: 30px 30px 30px 0;
  width: 100%;
  height: 100%;
  display: block;
  font-weight: bold;
  font-size: 2.4rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #264f0b;
  outline: none;
  transition: transform 0.3s;
}
.nav .mobile-nav .nav__items .mb-nav__item .dropdown__mobile {
  position: relative;
  transition: margin-bottom 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.nav .mobile-nav .nav__items .mb-nav__item .dropdown__mobile--active {
  margin-bottom: 30vh;
}
.nav .mobile-nav .nav__items .mb-nav__item .dropdown__mobile--mainDropdownItem {
  padding: 30px 45px 30px 0;
}
.nav .mobile-nav .nav__items .mb-nav__item .dropdown__mobile-LinkAndIconBox {
  display: flex;
  margin-top: 2.5em;
}
.nav .mobile-nav .nav__items .mb-nav__item .dropdown__mobile-icon {
  position: relative;
}
.nav .mobile-nav .nav__items .mb-nav__item .dropdown__mobile-icon a {
  display: block;
  padding: 30px 45px;
  font-size: 1.8rem;
  width: 100%;
  height: 100%;
}
.nav .mobile-nav .nav__items .mb-nav__item .dropdown__mobile-icon .show-more-icon {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  width: 23px;
  transform: translate(-50%, -50%);
  height: 23px;
  border-radius: 50%;
  background-color: #264f0b;
}
.nav .mobile-nav .nav__items .mb-nav__item .dropdown__mobile-icon .show-more-icon .plus {
  opacity: 0;
  display: none;
}
.nav .mobile-nav .nav__items .mb-nav__item .dropdown__mobile-icon .show-more-icon .minus {
  opacity: 0;
  display: none;
}
.nav .mobile-nav .nav__items .mb-nav__item .dropdown__mobile-icon .show-more-icon .showProperMobileDropdownIcon {
  opacity: 1;
  display: block;
}
.nav .mobile-nav .nav__items .mb-nav__item .dropdown__mobile-list {
  position: absolute;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  top: 100%;
  left: 0;
  transform: scaleY(0);
  transform-origin: top;
  list-style-type: none;
  transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.nav .mobile-nav .nav__items .mb-nav__item .dropdown__mobile-list--active {
  transform: scaleY(1);
}
.nav .mobile-nav .nav__items .mb-nav__item .dropdown__mobile-list-item {
  width: 100vw;
  padding-left: 5%;
  text-align: left;
}
.nav .mobile-nav .nav__items .mb-nav__item .dropdown__mobile-list-item a {
  position: relative;
  font-size: 1.8rem;
  padding: 0.6em 0.3em 0.6em 0;
}
.nav .pc-nav {
  height: 100%;
  width: 100%;
}
.nav .pc-nav-box {
  display: flex;
}
.nav .pc-nav__item {
  width: 100%;
  height: 100%;
  line-height: 120px;
  text-align: center;
  font-size: 1.6em;
  text-transform: uppercase;
  text-decoration: none;
  color: #264f0b;
  font-weight: bold;
  outline: none;
  transition: scale 0.5s, color 0.5s;
}
.nav .pc-nav__item--animation::after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  margin: 0 auto;
  bottom: 30px;
  height: 2px;
  transform: scaleX(0);
  transition: transform 0.3s;
  background-color: #447224;
}
.nav .pc-nav__item--animation:hover::after {
  transform: scaleX(0.5);
}
.nav .pc-nav__item--dropdown {
  position: relative;
  display: block;
}
.nav .pc-nav__item--dropdown a {
  width: 100%;
  height: 100%;
  display: block;
  color: #264f0b;
  line-height: 120px;
  font-size: 2.6rem;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  transition: scale 0.5s, color 0.3s;
}
.nav .pc-nav__item--dropdown .dropdown {
  position: absolute;
  width: 100%;
  top: 115px;
  opacity: 0;
  display: none;
  left: 0;
}
.nav .pc-nav__item--dropdown .dropdown a {
  line-height: 80px;
}
.nav .pc-nav__item--dropdown .dropdown a:hover {
  scale: 0.8;
  color: #447224;
}
.nav .pc-nav__item--dropdown .dropdown__list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}
.nav .pc-nav__item--dropdown .dropdown__list-item {
  width: 100%;
  height: 80px;
  background-color: #fff;
  text-align: center;
  border-bottom: 1px solid #000;
}
.nav .pc-nav__item--dropdown:hover .dropdown {
  display: block;
  animation: showItems 0.5s linear forwards;
}
.nav .pc-nav__item:focus {
  scale: 1.1;
}
.nav .pc-nav__item:hover {
  scale: 1.1;
  color: #447224;
}
.nav .pc-nav__logo-item {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  line-height: 30px;
}
.nav .pc-nav__logo-item a {
  outline: none;
  transition: scale 0.5s;
}
.nav .pc-nav__logo-item a:focus {
  scale: 1.1;
}

.header {
  width: 100%;
  height: calc(60vh - 100px);
}
.header__carousel {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.header__carousel-photo {
  width: 100%;
  height: 100%;
  background-image: url("../img/carousel-item1-big.jpg");
  background-size: cover;
  background-position: 0 0;
  background-repeat: no-repeat;
}
.header__carousel-box {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
}
.header__carousel-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
.header__carousel-text {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  padding: 0 1.4rem;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}
.header__carousel-text h1 {
  font-size: 2.4rem;
  margin-bottom: 0.5em;
}
.header__carousel-text p {
  font-size: 1.8rem;
  padding: 1em;
}

main {
  min-height: 90vh;
  overflow: hidden;
  position: relative;
}
main .mapleleaf-png {
  display: none;
  position: absolute;
  height: 300px;
  opacity: 0.2;
}
main .mapleleaf-png--first {
  top: 5%;
  left: 8%;
}
main .mapleleaf-png--second {
  top: 40%;
  left: 75%;
  transform: rotateY(180deg);
}
main .mapleleaf-png--third {
  top: 90%;
  left: 10%;
}

.cards {
  width: 100%;
}
.cards__box {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 2.6em;
}
.cards__item {
  width: 90%;
  height: 400px;
  position: relative;
  margin-bottom: 2em;
  border-radius: 15px;
  border: 1px solid #000;
  overflow: hidden;
}
.cards__item-photo {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}
.cards__item-photo--one {
  background-image: url("../img/firewood-small.jpg");
}
.cards__item-photo--two {
  background-image: url("../img/briquette-small.jpg");
}
.cards__item-photo--three {
  background-image: url("../img/kindling-small.jpg");
}
.cards__item-photo--four {
  background-image: url("../img/pellet-small.jpg");
}
.cards__item-text {
  position: absolute;
  top: 150%;
  left: -100%;
  transform: translate(50%, -50%);
  width: 150%;
  height: 100%;
  background-color: #fff;
  border-radius: 45%;
  transition: top 1s, border-radius 1s 0.5s;
}
.cards__item-title {
  position: absolute;
  top: 7%;
  left: 50%;
  transform: translate(-50%);
  font-size: 3rem;
  color: #264f0b;
  text-align: center;
}
.cards__item-description {
  position: absolute;
  top: 21%;
  left: 50%;
  transform: translate(-50%);
  color: #264f0b;
}
.cards__item-description--desktop {
  display: none;
}
.cards__item-description--desktop a {
  font-family: "Montserrat", sans-serif;
}
.cards__item-description--desktop .card_info {
  display: block;
}
.cards__item-description--desktop---element {
  padding-left: 1em;
  margin-top: 5rem;
}
.cards__item-description--desktop---element-second {
  text-decoration: none;
  color: #264f0b;
  border: 2px solid #264f0b;
  border-radius: 20px;
  position: absolute;
  top: 130%;
  height: 80px;
  width: 100%;
  padding: 1em 0;
}
.cards__item-description--desktop---element-second .content .icon_holder {
  width: 60px;
  height: 60px;
}
.cards__item-description--desktop .product_description {
  opacity: 0;
  transition: opacity 0s;
}
.cards__item-description--mobile {
  width: 60%;
  height: 60px;
  border: 2px solid #264f0b;
  border-radius: 20px;
}
.cards__item-description-btn {
  display: block;
  width: 100%;
  height: 100%;
  color: #264f0b;
}
.cards__item-description-btn p {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  padding-left: 2em;
}
.cards__item-description-btn .read-more {
  width: 45px;
  height: 45px;
  position: absolute;
  top: 50%;
  left: 80%;
  transform: translate(0, -50%);
}
.cards__item-description-btn .icon_holder {
  position: absolute;
  background-color: #264f0b;
  border-radius: 50%;
}
.cards__item-description-btn .icon_holder-desktop {
  top: 50%;
  left: 80%;
  transform: translate(0, -50%);
}
.cards__item-description-btnImg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

footer {
  position: absolute;
  bottom: 0;
  margin-top: auto;
  height: 80px;
  width: 100%;
  box-shadow: 0px 1px 5px #000;
}
footer .footer__left {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  background-color: #fff;
  color: #264f0b;
}
footer .footer__left-logobox img {
  scale: 0.7;
}
footer .footer__left-textbox {
  font-size: 0.8rem;
  font-weight: bold;
  display: none;
}
footer .footer__right {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: #fff;
  font-size: 1.3rem;
  background-color: #264f0b;
}
footer .footer__right span {
  display: none;
}
footer .footer__right a {
  text-decoration: underline;
  color: #fff;
}

@media (min-width: 390px) and (max-width: 600px) {
  footer .footer__left-logobox img {
    scale: 0.9;
  }
  footer .footer__right {
    font-size: 1.5rem;
  }
}
@media (max-width: 568px) {
  .nav .mobile-nav .nav__items .mb-nav__item {
    margin-top: 2%;
    margin-bottom: 2%;
  }
  .nav .mobile-nav .nav__items .mb-nav__item a {
    padding: 15px 15px 15px 0;
    font-size: 2rem;
  }
  .nav .mobile-nav .nav__items .mb-nav__item .dropdown__mobile--mainDropdownItem {
    padding: 15px 45px 15px 0;
  }
  .nav .mobile-nav .nav__items .mb-nav__item .dropdown__mobile-icon a {
    padding: 10px 20px;
  }
  .img-carousel-section {
    margin-top: 20px;
  }
  .cards {
    margin-top: 1rem;
  }
}
@media (min-width: 768px) {
  .nav {
    height: 120px;
  }
  .nav .mobile-nav .nav__items .mb-nav__item a {
    font-size: 3.2rem;
  }
  .nav .mobile-nav .nav__items .mb-nav__item .dropdown__mobile-icon .show-more-icon {
    width: 30px;
    height: 30px;
  }
  .nav .mobile-nav .nav__items .mb-nav__item .dropdown__mobile-list-item a {
    padding: 1em 2em 1em 0;
    font-size: 2.5rem;
  }
  .header__carousel-text {
    color: #fff;
  }
  .header__carousel-text h1 {
    font-size: 4rem;
    margin-bottom: 0.8em;
  }
  .header__carousel-text p {
    font-size: 2.6rem;
  }
  .section-title {
    font-size: 4rem;
  }
  .cards__item {
    width: 45%;
    height: 500px;
  }
  .cards__item-title {
    font-size: 3.5rem;
  }
  .cards__item-description {
    font-size: 1.7rem;
  }
  .cards__item-description--mobile {
    top: 22%;
    padding: 2em 0;
  }
  .cards__item-description-btn .read-more {
    width: 50px;
    height: 50px;
  }
  footer .footer__left-logobox img {
    scale: 1;
  }
  footer .footer__right {
    font-size: 2rem;
  }
}
@media (max-width: 1200px) {
  .nav .pc-nav {
    display: none;
  }
}
@media (min-width: 1000px) {
  .cards__item {
    height: 550px;
  }
  .cards__item-description-btn {
    height: 70px;
  }
  .cards__item-description-btn p {
    font-size: 18px;
  }
  .cards__item-description-btn .read-more {
    left: 85%;
  }
}
@media (min-width: 1200px) {
  .nav .solo-logo-item-1 {
    display: none;
  }
  .nav .burger-btn {
    display: none;
  }
  .header__carousel-text {
    color: #fff;
  }
  .header__carousel-text h1 {
    font-size: 5rem;
    margin-bottom: 20px;
  }
  .header__carousel-text p {
    font-size: 3rem;
  }
  .cards__box {
    padding-top: 4em;
  }
  .cards__item {
    height: 600px;
  }
  .cards__item-text {
    top: 110%;
  }
  .cards__item-title {
    font-size: 3.5rem;
  }
  .cards__item-description {
    font-size: 2rem;
  }
  .cards__item-description--desktop {
    display: block;
  }
  .cards__item-description--mobile {
    display: none;
  }
  .cards__item:hover .card_info {
    height: 0;
    color: #fff;
  }
  .cards__item:hover .product_description {
    opacity: 1;
  }
  .cards__item:hover .cards__item-text {
    top: 50%;
    border-radius: 0%;
  }
  footer .footer__left {
    justify-content: space-evenly;
    flex-direction: row;
  }
  footer .footer__left-textbox {
    display: inline;
    font-size: 14px;
  }
  footer .footer__right {
    font-size: 1.8rem;
  }
  footer .footer__right span {
    font-weight: bold;
    display: inline;
  }
  main .mapleleaf-png {
    display: block;
  }
}/*# sourceMappingURL=main.css.map */