@use './colors' as colors;
@mixin large {
	@media (min-width: 1200px) {
		.nav {
			height: 120px;

			&__mobile {
				display: none;
			}
			&__desktop {
				display: flex;
			}
			&__burger-icon {
				display: none;
			}
			&__item {
				padding: 1em;
				a {
					font-size: 3.8rem;
				}
				&::after {
					bottom: 20px;
				}
			}
		}
		.header {
			&__carousel {
				&-text {
					color: colors.$primary-color;
					h1 {
						font-size: 5rem;
						margin-bottom: 20px;
					}
					p {
						font-size: 3rem;
					}
				}
			}
		}
	}
}
@mixin small {
	@media (max-width: 768px) {
		.nav {
			&__item {
				&--logo {
					order: -1;
				}
			}
		}
	}
}
@mixin medium {
	@media (min-width: 768px) {
		.nav {
			height: 120px;
			&__item {
				a {
					font-size: 3rem;
				}
			}
		}
	}
}
