@use './colors' as colors;
@use './animations';

@mixin xs {
	@media (min-width: 390px) and (max-width: 600px) {
		.products {
			&__item {
				width: 80%;
				height: 50vh;
				margin-bottom: 1.8rem;

				&-content {
					&--additional {
						p {
							line-height: 50px;
							font-size: 24px;
						}
					}
				}
			}
		}

		footer {
			.footer__left {
				&-logobox {
					img {
						scale: 0.9;
					}
				}
			}
			.footer__right {
				font-size: 1.5rem;
			}
		}
	}
}
@mixin small {
	@media (max-width: 568px) {
		.nav {
			.mobile-nav {
				.nav__items {
					.mb-nav__item {
						margin-top: 2%;
						margin-bottom: 2%;
						a {
							padding: 15px 15px 15px 0;
							font-size: 2rem;
						}
						.dropdown__mobile {
							&--mainDropdownItem {
								padding: 15px 45px 15px 0;
							}
							&-icon {
								a {
									padding: 10px 20px;
								}
							}
						}
					}
				}
			}
		}
		.img-carousel-section {
			margin-top: 20px;
		}
		.cards {
			margin-top: 1rem;
		}
	}
}
@mixin medium {
	@media (min-width: 768px) {
		.nav {
			height: 120px;
			.mobile-nav {
				.nav__items {
					.mb-nav__item {
						a {
							font-size: 3.2rem;
						}
						.dropdown__mobile {
							&-icon {
								.show-more-icon {
									width: 30px;
									height: 30px;
								}
							}
							&-list {
								&-item {
									a {
										padding: 1em 2em 1em 0;
										font-size: 2.5rem;
									}
								}
							}
						}
					}
				}
			}
		}
		.header {
			&__carousel {
				&-text {
					color: colors.$pure-white;
					h1 {
						font-size: 4rem;
						margin-bottom: 0.8em;
					}
					p {
						font-size: 2.6rem;
					}
				}
			}
		}
		.section-title {
			font-size: 4rem;
		}
		.cards {
			&__item {
				width: 45%;
				height: 400px;

				&-title {
					font-size: 2.8rem;
				}

				&-description {
					font-size: 1.7rem;
					&--mobile {
						top: 18%;
						padding: 2em 0;
					}
					&-btn {
						.read-more {
							width: 50px;
							height: 50px;
						}
					}
				}
			}
		}
		.products {
			&-title {
				h1 {
					font-size: 4rem;
				}
			}
			&__box {
				flex-direction: row;
				flex-wrap: wrap;
			}

			&__item {
				height: 400px;
				width: 45%;
				margin: 2.5%;
				&-content {
					&--additional {
						p {
							line-height: 45px;
						}
					}
				}
			}
		}
		.contact {
			&-title {
				p {
					font-size: 2.4em;
					margin-bottom: 10%;
				}
			}
			&__address-box {
				margin-bottom: 0%;
				h4 {
					font-size: 25px;
				}
				p {
					font-size: 20px;
				}
			}

			&__form-box {
				form {
					label {
						padding-top: 0;
					}
					input {
						margin: 0 auto 2% auto;
					}
					textarea {
						margin: 0 auto;
					}
				}
			}
		}
		.about {
			&-title {
				font-size: 2em;
			}

			&__box {
				&-text {
					font-size: 2.5rem;
				}
			}
		}
		footer {
			.footer__left {
				&-logobox {
					img {
						scale: 1;
					}
				}
			}

			.footer__right {
				font-size: 2rem;
				img {
					display: inline;
				}
			}
		}
	}
}
@mixin unusual {
	@media (min-width: 1000px) {
		.cards {
			&__item {
				height: 5vh;
				width: 40%;
				&-title {
					font-size: 3.2rem;
				}
				height: 550px;
				&-description {
					&--mobile {
						top: 23%;
					}
					&-btn {
						p {
							font-size: 18px;
						}
						height: 70px;
						.read-more {
							left: 80%;
						}
					}
				}
			}
		}
		.products {
			&__item {
				height: 500px;
				&-content {
					&--title {
						p {
							font-size: 3.2rem;
						}
					}
					&--additional {
						p {
							font-size: 2.4rem;
							line-height: 55px;
						}
					}
				}
			}
		}
		main {
			min-height: 90vh;
		}
		.contact {
			height: 100%;
			padding-bottom: 0;
			&-title {
				p {
					font-size: 3em;
					margin-bottom: 5%;
				}
			}
			&__address-box {
				margin-bottom: 2%;
				h4 {
					font-size: 25px;
				}
				p {
					font-size: 20px;
				}
			}

			&__form-box {
				height: auto;
				form {
					label {
						padding-top: 0;
					}
					input {
						margin: 0 auto 2% auto;
					}
					textarea {
						margin: 0 auto;
					}
				}
			}
		}
	}
}
@mixin xxl {
	@media (min-width: 1200px) {
		// .section {
		// 	padding: 4rem 0 8rem 0;
		// }
		.nav {
			.solo-logo-item-1 {
				display: none;
			}
			.burger-btn {
				display: none;
			}
			.pc-nav {
				display: block;
			}
		}

		.header {
			&__carousel {
				&-text {
					color: colors.$pure-white;
					h1 {
						font-size: 5rem;
						margin-bottom: 20px;
					}
					p {
						font-size: 3rem;
					}
				}
			}
		}
		main {
			min-height: calc(100vh - 200px);
		}
		.cards {
			&__box {
				padding-top: 3em;
			}
			&__item {
				width: 24%;
				height: 540px;
				margin-bottom: 2em;
				&-text {
					border-top: 1px solid black;
					top: 110%;
				}
				&-title {
					font-size: 3.5rem;
				}
				&-description {
					font-size: 2rem;
					&--desktop {
						display: block;
					}
					&--mobile {
						display: none;
					}
				}

				&:hover {
					scale: 1.05;
				}
			}
		}

		.briquette {
			.cards__item-photo--two {
				background-position-x: -150px;
				background-position-y: -150px;
			}
		}
		.firewood.section,
		.kindling.section,
		.briquette.section {
			padding: 3rem 0 3rem 0;
		}

		.products {
			width: 100%;
			&-title {
				display: flex;
				justify-content: space-around;

				h1 {
					width: 40%;
					color: colors.$main-color;
					text-transform: uppercase;
					font-size: 5rem;
					text-align: center;
					padding: 2rem 0;
					margin: 0 0 2rem 0;
				}
				.products__select-list {
					width: 30%;
					padding: 2rem 0;
					margin: 0;
					select {
						width: 100%;
						padding: 2rem 4rem;
						border-radius: 30px;
						border: 3px solid colors.$main-color;
						font-size: 2rem;
						text-align: center;
						outline: none;
						appearance: none;
						background-image: url('../img/arrow-down-selectList.svg');
						background-repeat: no-repeat;
						background-position: 95% 45%;
						background-size: 25px 25px;
						overflow: hidden;
					}

					option{
						border: 1px solid colors.$main-color;
					}
				}
			}
			&__item {
				flex-direction: row;
				justify-content: space-between;
				height: 350px;
				width: 100%;
				margin: 2rem auto;

				&-img {
					position: relative;
					margin-left: 3%;
					height: 90%;
					width: 250px;
					border: 3px solid gray;
				}
				&-img::after {
					display: block;
				}
				&-content {
					display: block;
					height: 90%;
					width: 800px;

					&--title {
						p {
							font-size: 2em;
						}
					}
					&--description {
						margin-top: 1rem;
						width: 90%;
						height: auto;
						display: block;
						p {
							font-size: 1.8rem;
						}
					}

					&--list {
						display: block;
					}

					&--additional {
						position: absolute;
						right: 15%;
						height: 20%;
						width: 40%;

						p {
							line-height: 60px;
						}
					}
				}
			}
		}

		.contact {
			.wrapper {
				max-width: 1920px;
			}
			position: relative;
			flex-direction: row;
			flex-wrap: wrap;
			align-items: center;
			justify-content: space-evenly;
			height: 100%;

			&-title {
				margin-left: 12%;
				margin-top: 1%;
				margin-bottom: 0%;
				width: 100%;
				height: 20vh;
			}
			&__map-box {
				position: absolute;
				left: 0;
				top: 55%;
				width: 40%;
				height: 22vh;
				margin-left: 10%;
				margin-bottom: 3%;
				border: 2px solid colors.$main-color;
			}

			&__address-box {
				top: 240%;
				left: 10%;
			}
			&__company-box {
				top: 200%;
				left: 10%;
			}
			&__contact-box {
				top: 160%;
				left: 10%;
			}

			&__address-box,
			&__company-box,
			&__contact-box {
				position: absolute;
				margin-bottom: 0%;
				h4 {
					font-size: 25px;
				}
				p {
					font-size: 20px;
				}
				display: block;
			}

			&__form-box {
				position: absolute;
				top: 50%;
				right: 0;
				margin-right: 15%;
				width: 30%;
				form {
					label {
						padding-top: 0;
					}
					input {
						margin: 0 auto 2% auto;
					}
					textarea {
						margin: 0 auto;
					}
				}
			}
		}

		.about {
			&__box {
				width: 100%;
			}
		}
		.contact .contact-title,
		.about .about-title {
			p {
				margin-bottom: 5%;
			}
		}

		footer {
			.footer__left {
				justify-content: space-evenly;
				flex-direction: row;
				&-textbox {
					display: inline;
					font-size: 14px;
				}
			}
			.footer__right {
				font-size: 1.8rem;
				span {
					font-weight: bold;
					display: inline;
				}
				img {
					display: inline;
				}
			}
		}
	}
}
