@use './colors' as colors;
@use './breakpoints' as breakpoints;
@use './animations' as animations;
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
	font-size: 62.5%;
}

.mobileMenuLock {
	overflow: hidden;
}

.wrapper {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;

	&__offer {
		max-width: 1920px;
	}
}

.hideShadow {
	animation: hideShadow 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
}

.showShadow {
	animation: showShadow 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
}

.hide {
	animation: hide 1.4s linear forwards;
}

.show {
	animation: show 1.4s linear forwards;
}

.showCardsText {
	animation: showCardsText 0.4s linear forwards;
}

.offset {
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.3);
	height: 100%;
	width: 30vw;
	z-index: 1001;
	transform: translateX(-100%);
	opacity: 0;
}
.section {
	padding: 5rem 0 10rem 0;
}
.section-title {
	font-size: 3rem;
	text-align: center;
	text-transform: uppercase;
	color: colors.$main-color;
}

body {
	position: relative;
	background-color: colors.$body-color;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.6rem;
}

.nav {
	position: sticky;
	top: 0;
	left: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 90px;
	width: 100%;
	padding: 0;
	background-color: colors.$pure-white;
	box-shadow: 0px 1px 30px colors.$black;
	z-index: 1000;

	.burger-btn {
		position: absolute;
		right: 15px;
		padding: 1em;
		background-color: transparent;
		border: 1px solid transparent;
		cursor: pointer;
		z-index: 1001;

		&:focus {
			outline: none;
			border: 1px solid colors.$main-color;
			border-radius: 10px;
		}

		&__box {
			position: relative;
			width: 40px;
			height: 30px;
		}

		&__bars,
		&__bars::after,
		&__bars::before {
			position: absolute;
			right: 0;
			height: 4px;
			content: '';
			background-color: colors.$main-color;
		}

		&__bars {
			width: 100%;
			&::after {
				top: 13px;
				width: 100%;
			}
			&::before {
				top: 27px;
				width: 100%;
			}
		}
	}

	.solo-logo-item-1 {
		position: absolute;
		top: 50%;
		left: 0%;
		transform: translate(0%, -50%);
		margin-top: 2px;
		padding: 5px 15px;
	}

	.mobile-nav {
		position: fixed;
		top: 0;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		transform: translateX(100%);
		transition: 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
		height: 100vh;
		width: 100%;
		background-color: colors.$pure-white;
		z-index: 100;

		&--active {
			transform: translateX(30%);
		}

		.nav__items {
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			align-items: flex-start;
			height: 60vh;
			width: 100%;

			.mb-nav__item {
				margin-left: 30px;
				width: 100vw;

				&-first {
					width: auto;
				}
				a {
					padding: 30px 30px 30px 0;
					width: 100%;
					height: 100%;
					display: block;
					font-weight: bold;
					font-size: 2.4rem;
					text-transform: uppercase;
					text-decoration: none;
					color: colors.$main-color;
					outline: none;
					transition: transform 0.3s;
				}
				.dropdown__mobile {
					position: relative;
					transition: margin-bottom 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
					&--active {
						margin-bottom: 30vh;
					}
					&--mainDropdownItem {
						padding: 30px 45px 30px 0;
					}
					&-LinkAndIconBox {
						display: flex;
						margin-top: 2.5em;
					}
					&-icon {
						position: relative;
						a {
							display: block;
							padding: 30px 45px;
							font-size: 1.8rem;
							width: 100%;
							height: 100%;
						}
						.show-more-icon {
							position: absolute;
							display: flex;
							justify-content: center;
							align-items: center;
							top: 50%;
							left: 50%;
							width: 23px;
							transform: translate(-50%, -50%);
							height: 23px;
							border-radius: 50%;
							background-color: colors.$main-color;
							.plus {
								opacity: 0;
								display: none;
							}
							.minus {
								opacity: 0;
								display: none;
							}
							.showProperMobileDropdownIcon {
								opacity: 1;
								display: block;
							}
						}
					}
					&-list {
						position: absolute;
						height: 30vh;
						display: flex;
						flex-direction: column;
						justify-content: space-around;
						top: 100%;
						left: 0;
						&--active {
							transform: scaleY(1);
						}
						transform: scaleY(0);
						transform-origin: top;
						list-style-type: none;
						transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
						&-item {
							width: 100vw;
							padding-left: 5%;
							text-align: left;
							// text-decoration: underline 1px;
							// text-decoration-color: gray;
							// text-underline-offset: 4px;
							a {
								position: relative;
								font-size: 1.8rem;
								padding: 0.6em 0.3em 0.6em 0;
							}
						}
					}
				}
			}
		}
	}

	.pc-nav {
		height: 100%;
		width: 100%;
		display: none;
		&-box {
			display: flex;
		}

		&__item {
			width: 100%;
			height: 100%;
			line-height: 120px;
			text-align: center;
			font-size: 1.6em;
			text-transform: uppercase;
			text-decoration: none;
			color: colors.$main-color;
			font-weight: bold;
			outline: none;
			transition: scale 0.5s, color 0.5s;

			&--animation::after {
				content: '';
				position: absolute;
				width: 100%;
				left: 0;
				margin: 0 auto;
				bottom: 30px;
				height: 2px;
				transform: scaleX(0);
				transition: transform 0.3s;
				background-color: colors.$secondary-color;
			}
			&--animation:hover::after {
				transform: scaleX(0.5);
			}

			&--dropdown {
				position: relative;
				display: block;

				a {
					width: 100%;
					height: 100%;
					display: block;
					color: colors.$main-color;
					line-height: 120px;
					font-size: 2.6rem;
					font-weight: bold;
					text-transform: uppercase;
					text-decoration: none;
					transition: scale 0.5s, color 0.3s;
				}

				.dropdown {
					position: absolute;
					width: 100%;
					top: 115px;
					opacity: 0;
					display: none;
					left: 0;

					a {
						line-height: 80px;
					}
					a:hover {
						scale: 0.8;
						color: colors.$secondary-color;
					}
					&__list {
						display: flex;
						flex-direction: column;
						list-style-type: none;

						&-item {
							width: 100%;
							height: 80px;
							background-color: colors.$pure-white;
							text-align: center;
							border-bottom: 1px solid #000;
						}
					}
				}

				&:hover .dropdown {
					display: block;
					animation: showItems 0.5s linear forwards;
				}
			}
		}

		&__item:focus {
			scale: 1.1;
		}

		&__item:hover {
			scale: 1.1;
			color: colors.$secondary-color;
		}

		&__logo-item {
			display: flex;
			flex-direction: column;
			padding-top: 10px;
			line-height: 30px;

			a {
				outline: none;
				transition: scale 0.5s;
			}

			a:focus {
				scale: 1.1;
			}
		}
	}
}

.header {
	width: 100%;
	height: calc(60vh - 100px);
	&__carousel {
		width: 100%;
		height: 100%;
		position: relative;
		overflow: hidden;
		&-photo {
			width: 100%;
			height: 100%;
			background-image: url('../img/carousel-item1-big.jpg');
			background-size: cover;
			background-position: 0 0;
			background-repeat: no-repeat;
		}
		&-box {
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			width: 100%;
			height: 100%;
		}
		&-shadow {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background-color: rgba(0, 0, 0, 0.6);
		}
		&-text {
			position: absolute;
			width: 100%;
			top: 50%;
			left: 50%;
			padding: 0 1.4rem;
			transform: translate(-50%, -50%);
			text-align: center;
			color: colors.$pure-white;
			h1 {
				font-size: 2.4rem;
				margin-bottom: 0.5em;
			}
			p {
				font-size: 1.8rem;
				padding: 1em;
			}
		}
	}
}

main {
	min-height: 100vh;
	overflow: hidden;
	position: relative;
}
// ------cards----------
.cards {
	width: 100%;
	&__box {
		width: 100%;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-evenly;
		padding-top: 2.6em;
	}
	&__item {
		width: 80%;
		height: 400px;
		position: relative;
		margin-bottom: 4em;
		border: 1px solid colors.$black;
		overflow: hidden;
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
		cursor: pointer;
		transition: scale 0.5s;

		&-shadow {
			position: absolute;
			top: -100%;
			left: 0;
			background-color: rgba(255, 255, 255, 0.7);
			width: 100%;
			height: 100%;
			transition: top 0.7s;

			&--btn {
				display: flex;
				justify-content: center;
				align-items: center;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				height: 100px;
				width: 100px;
				border: 5px solid colors.$main-color;
				border-radius: 50%;
				img {
					scale: 0.05;
					color: white;
				}
			}
		}

		&-photo {
			width: 100%;
			height: 100%;
			overflow: hidden;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			&--one {
				background-image: url('../img/firewood-small.jpg');
			}
			&--two {
				background-image: url('../img/briquette-small.jpg');
			}
			&--three {
				background-image: url('../img/kindling-small.jpg');
			}
			&--four {
				background-image: url('../img/pellet-small.jpg');
			}
		}

		&-text {
			position: absolute;
			top: 150%;
			left: -100%;
			transform: translate(50%, -50%);
			width: 150%;
			height: 100%;
			background-color: colors.$pure-white;
			transition: top 0.7s;
		}

		&-title {
			position: absolute;
			top: 6%;
			left: 50%;
			transform: translate(-50%);
			font-size: 2.7rem;
			color: colors.$main-color;
			text-align: center;
		}

		&-description {
			position: absolute;
			top: 21%;
			left: 50%;
			transform: translate(-50%);
			color: colors.$main-color;

			&--desktop {
				display: none;
				.card_info {
					display: block;
				}
			}

			&--mobile {
				width: 60%;
				height: 60px;
				border: 2px solid colors.$main-color;
				border-radius: 20px;
			}

			&-btn {
				display: block;
				width: 100%;
				height: 100%;
				color: colors.$main-color;

				p {
					position: absolute;
					top: 50%;
					transform: translate(0, -50%);
					padding-left: 2em;
				}

				.read-more {
					width: 45px;
					height: 45px;
					position: absolute;
					top: 50%;
					left: 80%;
					transform: translate(0, -50%);
				}

				.icon_holder {
					position: absolute;
					background-color: colors.$main-color;
					border-radius: 50%;

					&-desktop {
						top: 50%;
						left: 80%;
						transform: translate(0, -50%);
					}
				}
			}

			&-btnImg {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}
	}
}

.products {
	width: 100%;

	&__box {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__classlist {
		margin-left: 70%;
		select {
			height: 50px;
			width: 150px;
			background-color: transparent;
			border: 2px solid colors.$main-color;
		}
	}
	&-title {
		// margin-left: 15%;
		margin-bottom: 2rem;
		display: block;

		h1 {
			width: 80%;
			color: colors.$main-color;
			text-transform: uppercase;
			font-size: 3.2rem;
			text-align: center;
			margin: 0 auto;
			padding: 2rem 0;
		}
		.products__select-list {
			width: 80%;
			padding: 2rem 0;
			margin: 0 auto;
			select {
				width: 100%;
				padding: 2rem 4rem;
				font-size: 2rem;
				text-align: center;
				border-radius: 30px;
				border: 3px solid colors.$main-color;
				outline: none;
				color: colors.$black;
				text-decoration: none;
				appearance: none;
				background-image: url('../img/arrow-down-selectList.svg');
				background-repeat: no-repeat;
				background-position: 95% 45%;
				background-size: 25px 25px;
				overflow: hidden;
			}
		}
	}

	&__item {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 90%;
		height: 350px;
		border: 3px solid colors.$main-color;
		border-radius: 20px;
		overflow: hidden;
		margin-bottom: 1.5rem;

		&-img {
			position: relative;
			// margin-left: 3%;
			height: 60%;
			width: 100%;
			background-size: cover;
			background-position: center;
			// border: 1px solid gray;
			&--one {
				background-image: url(../img/crate_1.png);
			}
		}

		&-img::after {
			content: '';
			position: absolute;
			top: 50%;
			right: -23%;
			transform: translateY(-50%);
			height: 90%;
			width: 1px;
			background-color: gray;
			display: none;
		}

		&-content {
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			align-items: center;
			width: 100%;
			height: 40%;

			&--element {
				color: colors.$main-color;
			}

			&--title {
				p {
					text-align: left;
					font-size: 1.5em;
					font-weight: bold;
				}
			}
			&--description {
				margin-top: 1rem;
				width: 40%;
				height: auto;
				display: none;
				p {
					font-size: 1em;
				}
			}

			&--list {
				width: 20%;
				margin-top: 1rem;
				list-style-position: inside;
				display: none;
			}

			&--additional {
				height: 35%;
				width: 80%;
				background-color: none;
				border: 4px solid colors.$main-color;
				border-radius: 12px;
				box-shadow: 2px 2px 2px 2px colors.$main-color;
				transition: box-shadow 0.3s;
				cursor: pointer;
				a {
					text-decoration: none;
				}
				p {
					height: 100%;
					width: 100%;
					display: flex;
					justify-content: center;
					align-items: center;
					font-size: 20px;
					text-transform: uppercase;
					text-align: center;
					font-weight: 600;
					color: colors.$main-color;
				}
			}

			&--additional:hover {
				box-shadow: none;
			}
		}
	}
}

.kindling {
	.cards__item-photo--one {
		background-image: url('../img/kindling-small.jpg');
	}
	.cards__item-photo--two {
		background-image: url('../img/kindling2.jpg');
	}
	.cards__item-photo--three {
		background-image: url('../img/kindling3.webp');
	}
}

.briquette {
	.cards__item-photo--one {
		background-image: url('../img/ruf.jpg');
	}
	.cards__item-photo--two {
		background-image: url('../img/pinikay.jpg');
		background-position-y: -100px;
		background-position-x: -100px;
	}
}

.firewood.section,
.kindling.section,
.briquette.section {
	padding: 4rem 0 1rem 0;
	scroll-margin-top: 10em;
}

.contact {
	padding-top: 1.5em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	&-title {
		align-self: start;
		margin-left: 10%;
		font-weight: bold;
		p {
			color: colors.$main-color;
			text-transform: uppercase;
			font-size: 2em;
			margin-bottom: 10%;
		}
	}
	&__map-box {
		margin: 0 auto 3%;
		width: 90%;
		height: 30vh;
		margin-bottom: 3%;
		border: 2px solid colors.$main-color;
	}

	&__contact-box {
		a {
			text-decoration: underline;
			text-underline-position: below;
			text-underline-offset: 3px;
			color: colors.$main-color;
		}
	}

	&__address-box,
	&__company-box,
	&__contact-box {
		width: 90%;
		margin: 0 auto;
		margin-bottom: 5%;
		h4,
		p {
			color: colors.$main-color;
		}
	}
	&__address-box {
		margin-bottom: 25%;
	}

	&__form-box {
		height: 60vh;
		width: 100%;
		form {
			text-align: left;
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			label {
				position: relative;
				padding-top: 10px;
				font-size: 2rem;
				margin: 0 5%;
				width: 90%;
				color: colors.$main-color;
			}
			label[for='postcode'] {
				position: relative;
				width: fit-content;
				div {
					position: absolute;
					left: 110%;
					top: 50%;
					transform: translateY(-50%);
				}
				div::after {
					box-sizing: border-box;
					content: 'We need your zip code in order to be able to calculate the shipping cost';
					position: absolute;
					top: -105px;
					left: 50%;
					width: 180px;
					height: 100px;
					padding: 1rem;
					font-size: 1.6rem;
					background-color: #fff;
					box-shadow: 2px 2px 10px colors.$black;
					opacity: 0;
					transition: opacity 0.3s;
				}
				div:hover::after {
					opacity: 1;
				}
			}
			input {
				min-height: 40px;
			}
			textarea {
				min-height: 100px;
			}
			input,
			textarea {
				font-size: 1em;
				background-color: none;
				border: 2px solid colors.$main-color;
				border-radius: 5px;
				margin: auto;
				min-width: 90%;
				max-width: 90%;
				max-height: 100px;
			}

			input[type='submit'] {
				background-color: colors.$main-color;
				color: colors.$pure-white;
				margin-top: 5%;
				cursor: pointer;
			}
			input[type='submit']:active {
				background-color: colors.$secondary-color;
				scale: 0.98;
			}
		}
	}
}

.form__afterpage {
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	div {
		font-size: 2.8rem;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		text-align: center;

		h1 {
			color: colors.$main-color;
			margin-bottom: 1rem;
		}
		a {
			color: black;
			p {
				color: black;
			}
		}
	}
}

.about {
	&-title {
		p {
			font-size: 2em;
		}
	}
	&__box {
		width: 90%;
		margin: auto;
		box-shadow: 4px 4px 20px colors.$black;
		&-text {
			padding: 5%;
			color: colors.$main-color;
			font-size: 1em;
		}
	}
}

.contact .contact-title,
.about .about-title {
	align-self: start;
	margin-left: 10%;
	font-weight: bold;
	p {
		color: colors.$main-color;
		text-transform: uppercase;
		margin-bottom: 10%;
	}
}
footer {
	position: relative;
	// bottom: 0;
	margin-top: auto;
	height: 80px;
	width: 100%;
	box-shadow: 0px 1px 5px colors.$black;

	.footer__left {
		position: absolute;
		top: 0;
		left: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 50%;
		height: 100%;
		background-color: colors.$pure-white;
		color: colors.$main-color;

		&-logobox {
			img {
				scale: 0.7;
			}
		}
		&-textbox {
			font-size: 0.8rem;
			font-weight: bold;
			display: none;
		}
	}

	.footer__right {
		position: absolute;
		top: 0;
		right: 0;
		width: 50%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		color: colors.$pure-white;
		font-size: 1.3rem;
		background-color: colors.$main-color;

		span {
			display: none;
		}
		img {
			display: none;
		}
		a {
			text-decoration: none;
			color: colors.$pure-white;
		}
	}
}

@include breakpoints.xs;
@include breakpoints.small;
@include breakpoints.medium;
@include breakpoints.unusual;
@include breakpoints.xxl;
