@use './colors' as colors;
@use './breakpoints' as breakpoints;
@use './animations' as animations;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}
.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}
body {
	font-size: 1.6rem;
	font-family: 'Montserrat', sans-serif;
	height: 200vh;
}
.hide {
	animation: hide 1.4s linear forwards;
}
.show {
	animation: show 1.4s linear forwards;
}
// --------------------------------NAV-----------------------------------
.nav {
	position: sticky;
	z-index: 100;
	top: 0;
	left: 0;
	width: 100%;
	height: 100px;
	background-color: #fff;
	box-shadow: 0 4px 40px #000;
	.nav__mobile {
		width: 100%;
		height: 100%;
		// .nav__burger-icon {
		// 	position: fixed;
		// 	top: 35px;
		// 	right: 20px;
		// }
		// &-logo {
		// 	padding: 0.5em 1em;
		// }
	}
	&__desktop {
		display: none;
		width: 100%;
		height: 100%;
	}
	&__items {
		display: flex;
		width: 100%;
		height: 100%;
		justify-content: space-between;
		align-items: center;
		text-align: center;
	}
	&__item {
		width: 33.3%;
		height: 100%;

		padding: 0.5em;
		position: relative;
		a {
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 2rem;
			text-decoration: none;
			color: colors.$secondary-color;
			text-transform: uppercase;
			cursor: pointer;
			outline: none;
			transition: transform 0.3s font-weight 0.3s;
		}
		a:focus {
			transform: scale(1.1);
		}
		&::after {
			content: '';
			position: absolute;
			width: 100%;
			left: 0;
			margin: 0 auto;
			bottom: 30px;
			height: 2px;
			transform: scaleX(0);
			transition: transform 0.3s;
			background-color: colors.$secondary-color;
		}
		&:hover::after {
			transform: scaleX(0.7);
		}
	}
	&__item--logo {
		width: 33.3%;
		height: 100%;
		padding: 1em;
		a {
			outline: none;
		}
		img {
			object-fit: cover;
			transition: transform 0.3s;
		}
		a:focus img {
			transform: scale(1.1);
		}
	}
}
// ----------------------------HEADER--------------------------
.header {
	width: 100%;
	height: calc(100vh - 100px);
	&__carousel {
		width: 100%;
		height: 100%;
		position: relative;
		overflow: hidden;
		&-photo {
			width: 100%;
			height: 100%;
			background-image: url('../img/carousel-item1-big.jpg');
			background-size: cover;
			background-position: 0 0;
			background-repeat: no-repeat;
		}
		&-box {
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			width: 100%;
			height: 100%;
		}
		&-shadow {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background-color: rgba(0, 0, 0, 0.6);
		}
		&-text {
			position: absolute;
			width: 100%;
			top: 50%;
			left: 50%;
			padding: 0 1.4rem;
			transform: translate(-50%, -50%);
			text-align: center;
			color: colors.$primary-color;
			h1 {
				font-size: 2.5rem;
				margin-bottom: 1em;
			}
			p {
				font-size: 1.8rem;
				padding: 1em;
			}
		}
	}
}

@include breakpoints.small;
@include breakpoints.medium;
@include breakpoints.large;
