@use './colors' as colors;
@use './breakpoints' as breakpoints;
@use './animations' as animations;
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
	font-size: 62.5%;
}

.mobileMenuLock {
	overflow: hidden;
}

.wrapper {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}

.hideShadow {
	animation: hideShadow 0.3s linear forwards;
}

.showShadow {
	animation: showShadow 0.3s linear forwards;
}

.hide {
	animation: hide 1.4s linear forwards;
}

.show {
	animation: show 1.4s linear forwards;
}

.showCardsText {
	animation: showCardsText 0.4s linear forwards;
}

.offset {
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.3);
	height: 100%;
	width: 30vw;
	z-index: 1001;
	transform: translateX(-100%);
	opacity: 0;
}
.section {
	padding: 5rem 0 30em 0;
}
.section-title {
	font-size: 3rem;
	text-align: center;
	text-transform: uppercase;
	color: colors.$main-color;
}

body {
	position: relative;
	background-color: colors.$body-color;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.6rem;
	min-height: 200vh;
}

.nav {
	position: sticky;
	top: 0;
	left: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 90px;
	width: 100%;
	padding: 0;
	background-color: colors.$pure-white;
	box-shadow: 0px 1px 30px colors.$black;
	z-index: 1000;

	.burger-btn {
		position: absolute;
		right: 15px;
		padding: 1em;
		background-color: transparent;
		border: 1px solid transparent;
		cursor: pointer;
		z-index: 1001;

		&:focus {
			outline: none;
			border: 1px solid colors.$main-color;
			border-radius: 10px;
		}

		&__box {
			position: relative;
			width: 40px;
			height: 30px;
		}

		&__bars,
		&__bars::after,
		&__bars::before {
			position: absolute;
			right: 0;
			height: 4px;
			content: '';
			background-color: colors.$main-color;
		}

		&__bars {
			width: 100%;
			&::after {
				top: 13px;
				width: 100%;
			}
			&::before {
				top: 27px;
				width: 100%;
			}
		}
	}

	.solo-logo-item-1 {
		position: absolute;
		top: 50%;
		left: 0%;
		transform: translate(0%, -50%);
		margin-top: 2px;
		padding: 5px 15px;
	}

	.mobile-nav {
		position: fixed;
		top: 0;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		transform: translateX(100%);
		transition: 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
		height: 100vh;
		width: 100%;
		background-color: colors.$pure-white;
		z-index: 100;

		&--active {
			transform: translateX(30%);
		}

		.nav__items {
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			align-items: flex-start;
			height: 60vh;

			.mb-nav__item {
				margin-left: 30px;
				a {
					padding: 30px 30px 30px 0;
					width: 100%;
					height: 100%;
					display: block;
					font-weight: bold;
					font-size: 2.4rem;
					text-transform: uppercase;
					text-decoration: none;
					color: colors.$main-color;
					outline: none;
					transition: transform 0.3s;
				}
				.dropdown__mobile {
					position: relative;
					transition: margin-bottom 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
					&--active {
						margin-bottom: 30vh;
					}
					&--mainDropdownItem {
						padding: 30px 45px 30px 0;
					}
					&-LinkAndIconBox {
						display: flex;
					}
					&-icon {
						position: relative;
						margin-left: 1.9em;
						a {
							display: block;
							padding: 30px 45px;
							font-size: 1.8rem;
							width: 100%;
							height: 100%;
						}
						.show-more-icon {
							position: absolute;
							display: flex;
							justify-content: flex-end;
							align-items: center;
							top: 50%;
							left: 50%;
							width: 23px;
							transform: translate(-50%, -50%);
							height: 23px;
							border-radius: 50%;
							background-color: colors.$main-color;
							.plus {
								opacity: 0;
								display: none;
							}
							.minus {
								opacity: 0;
								display: none;
							}
							.showProperMobileDropdownIcon {
								opacity: 1;
								display: block;
							}
						}
					}
					&-list {
						position: absolute;
						height: 30vh;
						display: flex;
						flex-direction: column;
						justify-content: space-around;
						top: 100%;
						left: 0;
						&--active {
							transform: scaleY(1);
						}
						transform: scaleY(0);
						transform-origin: top;
						list-style-type: none;
						transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
						&-item {
							a {
								font-size: 1.8rem;
								padding: 0.6em 0.3em 0.6em 0;
							}
						}
					}
				}
				a:hover {
					transform: scale(1.1);
				}

				a:focus {
					transform: scale(1.1);
				}
			}
		}
	}

	.pc-nav {
		height: 100%;
		width: 100%;
		&-box {
			display: flex;
		}

		&__item {
			width: 100%;
			height: 100%;
			line-height: 120px;
			text-align: center;
			font-size: 1.6em;
			text-transform: uppercase;
			text-decoration: none;
			color: colors.$main-color;
			font-weight: bold;
			outline: none;
			transition: scale 0.5s, color 0.5s;

			&--animation::after {
				content: '';
				position: absolute;
				width: 100%;
				left: 0;
				margin: 0 auto;
				bottom: 30px;
				height: 2px;
				transform: scaleX(0);
				transition: transform 0.3s;
				background-color: colors.$secondary-color;
			}
			&--animation:hover::after {
				transform: scaleX(0.5);
			}

			&--dropdown {
				position: relative;
				display: block;

				a {
					width: 100%;
					height: 100%;
					display: block;
					color: colors.$main-color;
					line-height: 120px;
					font-size: 2.6rem;
					font-weight: bold;
					text-transform: uppercase;
					text-decoration: none;
					transition: scale 0.5s, color 0.3s;
				}

				.dropdown {
					position: absolute;
					width: 100%;
					top: 115px;
					opacity: 0;
					display: none;
					left: 0;

					a {
						line-height: 80px;
					}
					a:hover {
						scale: 0.8;
						color: colors.$secondary-color;
					}
					&__list {
						display: flex;
						flex-direction: column;
						list-style-type: none;

						&-item {
							width: 100%;
							height: 80px;
							background-color: colors.$pure-white;
							text-align: center;
							border-bottom: 1px solid #000;
						}
					}
				}

				&:hover .dropdown {
					display: block;
					animation: showItems 0.5s linear forwards;
				}
			}
		}

		&__item:focus {
			scale: 1.1;
		}

		&__item:hover {
			scale: 1.1;
			color: colors.$secondary-color;
		}

		&__logo-item {
			display: flex;
			flex-direction: column;
			padding-top: 10px;
			line-height: 30px;

			a {
				outline: none;
				transition: scale 0.5s;
			}

			a:focus {
				scale: 1.1;
			}
		}
	}
}

.header {
	width: 100%;
	height: calc(60vh - 100px);
	&__carousel {
		width: 100%;
		height: 100%;
		position: relative;
		overflow: hidden;
		&-photo {
			width: 100%;
			height: 100%;
			background-image: url('../img/carousel-item1-big.jpg');
			background-size: cover;
			background-position: 0 0;
			background-repeat: no-repeat;
		}
		&-box {
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			width: 100%;
			height: 100%;
		}
		&-shadow {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background-color: rgba(0, 0, 0, 0.6);
		}
		&-text {
			position: absolute;
			width: 100%;
			top: 50%;
			left: 50%;
			padding: 0 1.4rem;
			transform: translate(-50%, -50%);
			text-align: center;
			color: colors.$pure-white;
			h1 {
				font-size: 2.4rem;
				margin-bottom: 0.5em;
			}
			p {
				font-size: 1.8rem;
				padding: 1em;
			}
		}
	}
}
// ------cards----------
.cards {
	width: 100%;
	&__box {
		width: 100%;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		padding-top: 2.6em;
	}
	&__item {
		width: 90%;
		height: 400px;
		position: relative;
		margin-bottom: 2em;
		border-radius: 15px;
		border: 1px solid colors.$black;
		overflow: hidden;
		&-photo {
			width: 100%;
			height: 100%;
			overflow: hidden;
			background-size: cover;
			background-position: center;
			&--one {
				background-image: url('../img/firewood-small.jpg');
			}
			&--two {
				background-image: url('../img/briquette-small.jpg');
			}
			&--three {
				background-image: url('../img/kindling-small.jpg');
			}
			&--four {
				background-image: url('../img/pellet-small.jpg');
			}
		}
		&-text {
			position: absolute;
			top: 150%;
			left: -100%;
			transform: translate(50%, -50%);
			width: 150%;
			height: 100%;
			background-color: colors.$pure-white;
			border-radius: 45%;
			transition: top 1s, border-radius 1s 0.5s;
		}
		&-title {
			position: absolute;
			top: 7%;
			left: 50%;
			transform: translate(-50%);
			font-size: 3rem;
			color: colors.$main-color;
			text-align: center;
		}
		&-description {
			position: absolute;
			top: 21%;
			left: 50%;
			transform: translate(-50%);
			color: colors.$main-color;
			&--desktop {
				display: none;

				&---element {
					padding-left: 1em;
					margin-top: 8rem;
				}
			}
			&--mobile {
				position: relative;
				width: 60%;
				height: 60px;
				padding: 1.5em 0;
				border-top-left-radius: 20px;
				border-top-right-radius: 20px;
				border-bottom-left-radius: 20px;
				border-bottom-right-radius: 20px;
				border: 2px solid colors.$main-color;
				text-align: left;
				p {
					position: absolute;
					top: 50%;
					transform: translate(0, -50%);
					padding-left: 2em;
				}
				.read-more {
					position: absolute;
					width: 45px;
					height: 45px;
					top: 50%;
					left: 75%;
					transform: translate(0, -50%);
					// border: 3px solid colors.$main-color;
					background-color: colors.$main-color;
					border-radius: 50%;
					img {
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
					}
				}
			}
		}
	}
}

@include breakpoints.small;
@include breakpoints.medium;
@include breakpoints.large;
@include breakpoints.unusual;
@include breakpoints.xxl;
