@use "./colors" as colors;
header {
	width: 100%;
	.slider {
		width: 100%;
		touch-action: manipulation;
		display: block;
		position: relative;
		&__otherPhotos-box {
			position: relative;
			display: flex;
			width: 15%;
			height: 50vh;
			justify-content: center;
			align-items: center;
			display: none;
			.small-arrow {
				position: absolute;
				display: flex;
				justify-content: center;
				align-items: center;
				transform: translateX(-50%);
				width: 30px;
				height: 30px;
				background-color: green;
				border-radius: 50%;
				transition: opacity 0.5s;
				cursor: pointer;
				touch-action: manipulation;
			}
			.small-arrow-left {
				top: -7%;
				left: 50%;
			}
			.small-arrow-right {
				bottom: -7%;
				left: 50%;
			}
			.thumbnails-box {
				width: 100%;
				height: 100%;
				overflow: hidden;
				scroll-behavior: smooth;
				.img-box {
					width: 100%;
					height: 20%;
					margin: 1rem 0;
					opacity: 1;
					cursor: pointer;
					.image {
						width: 100%;
						height: 80%;
						background-size: cover;
						background-position: center;
						background-repeat: no-repeat;
						overflow: hidden;
						border-radius: 8px;
						margin: 0 auto;
						border: 3px solid transparent;
						transition: border 0.3s;
						&-one {
							background-image: url("../img/carousel-item1-small.jpg");
						}
						&-two {
							background-image: url("../img/carousel-item2-small.jpg");
						}
						&-three {
							background-image: url("../img/carousel-item3-small.jpg");
						}
						&-four {
							background-image: url("../img/carousel-item4-small.jpg");
						}
						&-five {
							background-image: url("../img/carousel-item5-small.jpg");
						}
					}

					.active {
						border: 3px solid colors.$secondary-color;
					}
				}
			}
		}
		&__mainPhoto-box {
			position: relative;
			width: 100%;
			height: 50vh;
			.photo {
				width: 100%;
				height: 100%;
				overflow: hidden;
				background-image: url("../img/carousel-item1-small.jpg");
				background-position: center;
				background-size: cover;
				background-repeat: no-repeat;
			}
		}
		.arrow {
			display: flex;
			touch-action: manipulation;
			position: absolute;
			justify-content: center;
			align-items: center;
			transform: translateY(-50%);
			width: 40px;
			height: 40px;
			background-color: rgba(221, 218, 224, 0.9);
			border-radius: 5px;
			transition: opacity 0.5s;
			cursor: pointer;
		}
		.arrow-left {
			top: 50%;
			left: 3%;
		}
		.arrow-right {
			top: 50%;
			right: 3%;
		}
	}
	.product {
		position: relative;
		width: 100%;
		text-align: center;
		&__title {
			font-size: 3.2rem;
			padding-top: 2.5rem;
			padding-bottom: 2rem;
			width: 80%;
			margin: 0 auto;
		}
		&__price-range {
			width: 80%;
			margin: 0 auto;
			font-size: 2.4rem;
			padding: 2rem 0;
		}
		&__availability-status {
			position: relative;
			width: 100%;
			height: 60px;
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 2rem 0;
			.status-name {
				position: relative;
				display: flex;
				align-items: center;
				justify-content: center;
				width: fit-content;
				max-width: 70%;
				height: 100%;
				p {
					display: flex;
					justify-content: center;
					align-items: center;
					font-size: 2.2rem;

					span {
						display: block;
						height: 100%;
						color: colors.$main-color;
						font-weight: bold;
						text-align: center;
						margin-left: 1rem;
					}
				}
				.status-icon {
					position: absolute;
					top: 50%;
					left: 110%;
					width: 5%;
					transform: translate(-50%, -50%);
					display: flex;
					justify-content: center;
					align-items: center;
				}
			}
		}
		&__description {
			h3 {
				width: 85%;
				margin: 0 auto;
				text-align: left;
				padding-bottom: 1rem;
			}
			ul {
				width: 85%;
				margin: 0 auto;
				text-align: left;
				list-style-position: inside;
				padding-inline-start: 0;
			}
			li {
				padding: 1rem 0 1rem 0;
				font-size: 1.8rem;
				font-weight: bold;
				span {
					font-weight: normal;
					margin-left: 0.8rem;
				}
			}
		}

		&__ask-for-more {
			padding: 2rem;
			margin: 2rem 0;
			width: 80%;
			border-radius: 30px;
			background-color: colors.$main-color;
			font-size: 2.5rem;
			color: colors.$pure-white;
			overflow: hidden;
			cursor: pointer;
			transition: scale 0.1s;
		}
		&__ask-for-more:active {
			background-color: colors.$secondary-color;
			scale: 0.98;
		}
	}
}
main {
	.product {
		&__description {
			&-box {
				width: 100%;
				margin-top: 2rem;
				box-shadow: 2px 4px 2px 0px gray;
				padding-bottom: 5rem;
				.wrapper {
					max-width: 1920px;
					width: 100%;
				}
			}
			&-content {
				width: 100%;
				display: flex;
				flex-direction: column;
				// justify-content: center;
				align-items: center;
				&--title {
					height: 10vh;
					width: 100%;
					padding: 1rem 2rem;
					margin-bottom: 1rem;
					display: flex;
					justify-content: center;
					align-items: center;
					h2 {
						text-align: center;
						color: colors.$main-color;
						font-size: 2rem;
					}
				}
				&--img {
					width: 90%;
					height: 40vh;

					background-position: center;
					background-size: cover;
					border: 1px solid colors.$black;
					margin-bottom: 2rem;
					order: 3;

					&__one {
						background-image: url("../img/crate_1.png");
					}

					&__two {
						background-image: url("../img/crate_1-2_lq.jpg");
					}
				}
				&--text {
					width: 100%;
					display: flex;
					align-items: center;
					justify-content: center;
					flex-direction: column;
					padding: 1rem 2rem 3rem 2rem;

					&---list {
						width: 85%;
						margin: 0 auto;
					}

					&---element {
						padding-bottom: 2rem;
					}

					p {
						text-align: left;
						font-size: 2rem;
						padding-bottom: 2rem;
					}
				}
			}
		}
	}
}
@media (min-width: 768px) {
	header {
		.product {
			&__title {
				font-size: 5rem;
			}
			&__price-range {
				font-size: 3.5rem;
			}
			&__availability-status {
				.status-name {
					p {
						font-size: 3.2rem;
					}
				}
			}
			&__description {
				li {
					font-size: 2.5rem;
				}
			}
		}
	}
	main {
		.product {
			&__description {
				&-content {
					&--title {
						padding: 0 2rem;
						margin-bottom: 0;
						h2 {
							font-size: 3.5rem;
						}
					}
					&--text {
						p {
							font-size: 2.2rem;
						}
						&---element {
							font-size: 2rem;
						}
					}
				}
			}
		}
	}
}

@media (min-width: 1200px) {
	header {
		padding: 7rem 0 10rem 0;
		display: flex;
		justify-content: space-evenly;
		flex-wrap: wrap;
		.slider {
			width: 50%;
			touch-action: manipulation;
			display: flex;
			justify-content: space-evenly;
			align-items: center;
			position: relative;
			&__otherPhotos-box {
				display: block;
			}
			&__mainPhoto-box {
				position: relative;
				width: 70%;
				.photo {
					width: 100%;
					height: 100%;
					overflow: hidden;
					background-image: url("../img/carousel-item1-small.jpg");
					background-position: center;
					background-size: cover;
					background-repeat: no-repeat;
					border-radius: 8px;
					border: 2px solid black;
				}
			}
		}
		.product {
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			align-items: center;
			width: 45%;
			text-align: center;
			box-shadow: 4px 4px 20px colors.$black;
			&__title {
				width: 100%;
				padding-top: 1rem;
				padding-bottom: 0;

				font-size: 3.5rem;
			}
			&__price-range {
				width: 100%;
				font-size: 2rem;
				padding: 1rem 0 1rem 0;
			}
			&__availability-status {
				position: relative;
				width: 100%;
				height: 40px;
				display: flex;
				justify-content: center;
				align-items: center;
				.status-name {
					position: relative;
					display: flex;
					align-items: center;
					justify-content: center;
					width: fit-content;
					max-width: 70%;
					height: 100%;
					p {
						display: flex;
						justify-content: center;
						align-items: center;
						font-size: 2.5rem;

						span {
							display: block;
							height: 100%;
							color: colors.$main-color;
							font-weight: bold;
							text-align: center;
							margin-left: 1rem;
						}
					}
					.status-icon {
						position: absolute;
						top: 50%;
						left: 110%;
						width: 5%;
						transform: translate(-50%, -50%);
						display: flex;
						justify-content: center;
						align-items: center;
					}
				}
			}
			&__description {
				width: 100%;
				ul {
					width: 90%;
					padding-top: 2rem;
					padding-bottom: 2rem;
					margin: 0 auto;
					text-align: left;
					list-style-position: inside;
					padding-inline-start: 0;
				}
				li {
					padding: 0.5rem 0;
					font-size: 1.5rem;
					font-weight: bold;
					span {
						font-weight: normal;
						margin-left: 0.8rem;
					}
				}
			}
			&__ask-for-more {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 80%;
				margin-bottom: 2rem;
				padding: 2rem;
				border-radius: 30px;
				background-color: colors.$main-color;
				font-size: 2.5rem;
				color: colors.$pure-white;
				overflow: hidden;
				cursor: pointer;
			}
			&__ask-for-more:active {
				background-color: colors.$secondary-color;
				scale: 0.98;
			}
		}
	}
	main {
		.product {
			&__description {
				&-box {
					width: 100%;
					margin-top: 4em;
					padding-bottom: 10rem;
					box-shadow: 2px 4px 2px 0px gray;
					.wrapper {
						max-width: 1920px;
						width: 100%;
					}
				}
				&-content {
					width: 100%;

					display: flex;
					flex-wrap: wrap;
					flex-direction: row;
					justify-content: space-evenly;
					align-items: center;
					&--title {
						height: 10vh;
						width: 100%;
						padding: 1em 4em;
						margin-bottom: 4rem;
						h2 {
							color: colors.$main-color;
							font-size: 4rem;
						}
					}
					&--img {
						height: 40vh;
						width: 20%;
						background-position: center;
						background-size: cover;
						border: 1px solid colors.$black;
						margin-bottom: 2em;

						&__two {
							order: 3;
						}
					}
					&--text {
						width: 60%;
						height: 40vh;
						order: 2;
						text-align: left;

						&---element {
							font-size: 2rem;
						}

						p {
							height: 10vh;
							width: 90%;
							padding-left: 0;
							text-align: left;
							font-size: 2.6rem;
						}
					}
				}
			}
		}
	}
}
