.slider {
	position: relative;
	width: 100%;
	height: 250px;
	max-width: 350px;
	margin: 0 auto;
	margin-top: 100px;
	&__mainPhoto-box {
		width: 100%;
		height: 100%;
		margin-bottom: 3rem;
		display: flex;
		justify-content: center;
		align-items: center;
		.photo {
			width: 65%;
			height: 100%;
			border: 2px solid black;
			overflow: hidden;
			img {
				object-fit: cover;
				opacity: 0.5;
				transition: opacity 0.5s;
			}
			.active {
				opacity: 1;
			}
		}
	}
	.arrow {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 40px;
		height: 40px;
		background-color: green;
		border-radius: 50%;
		transition: opacity 0.5s;
		cursor: pointer;
	}
	.arrow-left {
		margin: 0 1.6rem 0 0;
	}
	.arrow-right {
		margin: 0 0 0 1.6rem;
	}
	&__otherPhotos-box {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		overflow: hidden;
		max-height: 80px;
		.small-arrow {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 30px;
			height: 30px;
			background-color: green;
			border-radius: 50%;
			transition: opacity 0.5s;
			cursor: pointer;
		}
		.small-arrow-left {
			margin: 0 1.4rem 0 0;
		}
		.small-arrow-right {
			margin: 0 0 0 1.4rem;
		}
		.thumbnails-box {
			display: flex;
			align-items: center;
			width: 60%;
			height: 100%;
			overflow: hidden;
			scroll-behavior: smooth;
			img {
				object-fit: cover;
				opacity: 0.5;
				width: 80px;
				height: 100%;
				margin: 0 1rem;
				transition: opacity 0.5s;
				cursor: pointer;
			}
			.active {
				opacity: 1;
			}
		}
	}
}
@media (max-width: 350px) {
	.slider {
		width: 100%;
		height: 200px;
		&__mainPhoto-box {
			.photo {
				width: 65%;
			}
		}
		&__otherPhotos-box {
			.thumbnails-box {
				width: 60%;
			}
		}
		.arrow {
			width: 35px;
			height: 35px;
		}
		.arrow-left {
			margin: 0 1rem 0 0;
		}
		.arrow-right {
			margin: 0 0 0 1rem;
		}
	}
}
@media (min-width: 1200px) {
	.slider {
		position: relative;
		width: 100%;
		height: 400px;
		max-width: 800px;
		max-height: 500px;
		margin: 0 auto;
		margin-top: 100px;
		&__mainPhoto-box {
			width: 100%;
			height: 100%;
			margin-bottom: 50px;
			display: flex;
			justify-content: center;
			align-items: center;
			.photo {
				width: 80%;
				height: 100%;
				border: 2px solid black;
				overflow: hidden;
				img {
					object-fit: cover;
					opacity: 0.5;
					transition: opacity 0.5s;
				}
				.active {
					opacity: 1;
				}
			}
		}
		.arrow {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 10%;
			height: 100%;
			margin: 0 1rem;
			width: 40px;
			height: 40px;
			background-color: green;
			border-radius: 50%;
			cursor: pointer;
		}
		&__otherPhotos-box {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;
			overflow: hidden;
			max-height: 100px;
			.small-arrow {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 10%;
				height: 100%;
				margin: 0 1rem;
				width: 30px;
				height: 30px;
				background-color: green;
				border-radius: 50%;
				cursor: pointer;
			}
			.thumbnails-box {
				display: flex;
				align-items: center;
				width: 80%;
				height: 100%;
				overflow: hidden;
				scroll-behavior: smooth;
				img {
					object-fit: cover;
					opacity: 0.5;
					width: 112px;
					height: 100%;
					margin: 0 1rem;
					transition: opacity 0.5s;
					cursor: pointer;
				}
				.active {
					opacity: 1;
				}
			}
		}
	}
}
